#blow{
margin-right: 30px;
padding: 20px;
position: relative;
left: 100px;
}
#li{
    position: relative;
    bottom: 110px;
    left: 80px;
}
#mu{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
@media (max-width:600px){
#mu{
    display: grid;
    grid-template-columns: repeat(1,1fr);

}
}
#add{
     background-color: #605DAC;
    color: white;
    height: 50px;
     cursor: pointer; 
     position: relative;
     right: 50px;
     width: 200px;
     left: 50px;
}
#move{
    animation: moveRight 6s linear infinite;
    position: absolute;
    top: 0;
    left: -150px; 
    width: 150px; 
    height: 80px;
}
@keyframes moveRight {
    0% {
        left: -150px; 
    }
    100% {
        left: 100%; 
    }
}
#ku{
    color: blue;
position: relative;
bottom: 920px;
        animation: moveRight 5.5s linear infinite;
    position: absolute;
    top: 0;
    left: -150px;       
}