ul{
  display: flex;
  position: relative;
  top: 20px;
  margin: 20px;
} 
#ab,#cd,#ef,#gh,#ij{
  padding-right: 50px;
}
#ab{
  position: relative;
  left: 25px;
}
#ij{
  position: relative;
  right: 25px;
}
li{
  list-style-type: none;
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
}
#law{
  background-color: #dad4d4;
  color: black;
  height: 60px;
}
svg{
  position: relative;
  bottom: 20px;
  left: 20px;
  cursor: pointer;
}
.list{
  display: grid;
  padding-top: 10px;
  font-weight: 900;
  cursor: pointer;
  position: relative;
  right: 35px;
}
.list>li:hover{
  color: blue;
}